@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');


* {
    font-family: 'Inter', sans-serif !important;
    box-sizing: border-box !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* typography */
.heading-text {
    font-family: 'Sora' !important;
}

.card {
    @apply bg-white border border-slate-100 rounded;
}

/* form */
.field {
    @apply flex flex-col gap-2 relative w-full;
}

.input {
    @apply p-2 text-xs outline-none border border-gray-300 rounded hover:border-gray-700 focus:border-gray-900 transition-all;
}

.label {
    @apply text-xs text-gray-500;
}

/* segmented control */
.segmented-control {
    @apply p-[2px] bg-slate-100 flex items-center justify-between rounded border border-slate-200 hover:border-slate-500 focus-within:border-black transition-all;
}
.segmented-control-option {
    @apply p-2 text-center text-xs flex-1 cursor-pointer rounded select-none font-medium transition-all duration-100;
}
.radio:focus + label {
    background-color: #333;
    color: white
}
.radio:checked + label {
    background-color: black;
    color: white
}

/* utils */
.divider {
    @apply border-b border-slate-100;
}

/* buttons */
.btn {
    @apply p-2 px-3 bg-black text-white border rounded-md text-xs font-medium outline-none transition-all cursor-pointer flex items-center gap-2;
}
.btn-danger {
    @apply bg-rose-50 text-rose-500 border-none hover:bg-rose-100;
}
.btn-primary {
    @apply py-2 px-3 h-[34px] font-medium bg-black outline-none rounded text-slate-200 text-xs flex items-center gap-2 transition-all hover:text-white;
}
.btn-primary-outline {
    @apply py-2 px-3 font-medium bg-white border border-gray-300  outline-none rounded text-black text-xs flex items-center gap-2 transition-all duration-100 hover:border-black;
}

.btn-sm {
    @apply px-2  py-1 font-medium rounded text-xs bg-slate-100 transition-all duration-75 flex items-center gap-2 hover:bg-slate-200;
}

.btn-floating {
    @apply cursor-pointer h-8 w-8 absolute bottom-3 right-3 rounded-full bg-black text-white flex items-center justify-center;
}
/* layouts */

.sidebar {
    @apply h-screen border-r border-slate-200;
}


/* select */
.select {
    position: absolute;
    top: 105%;
    width: 100%;
    @apply p-1 bg-white rounded-md shadow-md cursor-pointer;
    max-height: 300px;
    overflow: scroll;
}
.select-option {
    @apply flex flex-col transition-all rounded  duration-75 hover:bg-slate-100;
}
.select-option label {
    @apply text-xs p-2;
}
.select-option input {
    display: none;
}
.show-select {
    display: none;
}


/* loader */

.loader {
    border-top-color: black;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }
  
  @-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
