
/* toastify overrides */

.Toastify__toast {
    min-height: 30px;
}
.Toastify__toast-body {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}
.Toastify__progress-bar-theme--dark {
    background-color: #666;
}

.app-layout {
    display: grid;
    grid-template-columns: 230px 1fr;
}

.workspace {
    display: grid;
    grid-template-columns: 1fr 20px;
}

.transaction-grid {
    display: grid;
    align-items: flex-start;
    /* grid-template-rows: repeat(auto-fill, minmax(290px, auto)); */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "overview transaction-list"
        "manage transaction-list"
}

.transaction-column-grid {
    display: grid;
    align-items: center;
    gap: 10px;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.transactions-overview {
    grid-area: overview;
    height: 100%;
}

.transaction-list {
    grid-area: transaction-list;
}

.manage {
    grid-area: manage;
    height: 100%;
}

.orientation-slant {
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    display: flex;
    align-items: center;
}

/* integration */
.integration-container {
    height: calc(100vh - 50px);
}

.splitwise-expense-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 10px;
}
.splitwise-sub-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
}