.app-layout {
    display: grid;
    grid-template-columns: 230px 1fr;
}

.workspace {
    display: grid;
    grid-template-columns: 1fr 20px;
}

.transaction-grid {
    display: grid;
    align-items: flex-start;
    /* grid-template-rows: repeat(auto-fill, minmax(290px, auto)); */
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "overview transaction-list"
    "manage transaction-list"
}
.transaction-column-grid {
    display: grid;
    grid-template-columns: 14px 1fr 130px 130px 50px;
    align-items: center;
    gap: 10px;
}
.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.transactions-overview {
    grid-area: overview;
    height: 100%;
}

.transaction-list {
    grid-area: transaction-list;
}

.manage {
    grid-area: manage;
    height: 100%;
}